{% extends "encyclopedia/layout.html" %} 
{% block title %} Create new page 
{% endblock %}
{% block body %}
{% if title_value is not none %}
<form class="m-5" method="POST" action="/edit/{{title_value}}/save">
{% else %}
<form class="m-5" method="POST">
{% endif %}
    {% csrf_token %}
    {% if error %}
    <p class="text-danger">{{error}}</p>
    {% endif %}
    <div class="form-group">
        <label for="title">Title</label>
        {% if title_value is not none %}
        <input type="text" class="form-control" id="title" name="title" placeholder="Tilte" value="{{title_value}}">
        {% else %}
        <input type="text" class="form-control" id="title" name="title" placeholder="Tilte">
        {% endif %}
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content" rows="15" placeholder="Enter your Content here .." style="white-space: pre-wrap;">{% if default_content is not none %}{{default_content}}{% endif %}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
